<!DOCTYPE html>
<html>
  <head>
    <title>LrRailsHostedBis</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <p>Welcome, <%= current_user.name %>! (<%= link_to 'Logout', logout_path %>)</p>
    <% else %>
      <p>
        <%= link_to 'Signup', ar_signup_url %> |
        <%= link_to 'Login', ar_login_url %>
      </p>
    <% end %>

    <%= safe_join [:alert, :notice].map{|f| content_tag(:p, flash[f]) if flash[f] }.compact %>

    <p>
      <%= link_to 'Home', root_path %> |
      <%= link_to 'Secure page', secure_path %>
    </p>

    <%= yield %>
  </body>
</html>
